config/local.js
*#
.DS_STORE
.DS_STORE?
._*
.Spotlight-V100
.Trashes
Icon^M^M
ehthumbs.db
Thumbs.db
.netbeans
nbproject
.idea
*.iml
.vscode
.node_history
dump.rdb
lib-cov
*.seed
*.log
*.out
*.pid


bin/
*.TMP
**/temp/*
**/npm-debug.log
**/npm-debug*
node/
node_modules/
node_modules

#build artifacts
dist/
built/
reports/

