@font-face {
    font-family: 'Browallia New';
    src: url('BrowalliaNew.eot');
    src: url('BrowalliaNew.eot?#iefix') format('embedded-opentype'),
        url('BrowalliaNew.woff2') format('woff2'),
        url('BrowalliaNew.woff') format('woff'),
        url('BrowalliaNew.ttf') format('truetype'),
        url('BrowalliaNew.svg#BrowalliaNew') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

